@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
	font-family: 'Montserrat', sans-serif;
	color: #363838;
}
body {
	max-width: 900px;
	margin: 0 auto;
	padding: 3px;
}

/*						Header 						*/
 {
	border: 1px solid black;
}

#header h1, #header h2 , #header p{
	margin: 0px;
}
#header p {
	text-align: right;
}


/*							Objective						*/

#objective {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}
#objective p {
	font-style: italic;
}
#profile {
	width: 80%;
	height: 200px;
	border-radius: 10px;
	overflow: hidden;
	margin: 0 auto;
	opacity: .75;
}
 img {
 	width: 100%;
 	margin: 0px auto;
 	height: 100%;
 }
/*						Skills							*/

#skills h2 {
	margin: 15px 0 0 0;
}

.skillBar {
	width: 75%;
	height: 10px;
	border: 1px solid #aeb2b2;
	margin: 0px;
	border-radius: 5px;
}
#skills h4 {
	margin: 0px;
}
#skills p {
	width: 75%;
	text-align: right;
	margin: 0px;
}
/* to add a new skill, add id to the following line, then make a 
		specific width like below  */
#innerJSBar, #innerHTMLBar, #innerCSSBar, #innerCLBar {
		height: 100%;
		background-color: #f4cb42;
		border-radius: 5px;
	}
#innerJSBar {
	width: 62%;
}
#innerHTMLBar {
	width: 85%;
}
#innerCSSBar {
	width: 75%;
}
#innerCLBar {
	width: 65%;
}
/*		Add new skill here		*/
/* #nameOfNewSkill {
	width: percentage here;
}
*/

/*						Work 							*/

#workExperience {
}
#workExperience h2 {
	margin: 15px 0 0 0;
}

.work, .education {
	padding: 5px;
}
.work p, .work h3 {
	margin: 0px;
}

/*						Education 						*/

#education h2 {
	margin: 15px 0 0 0;
}
.education h3 {
	margin: 0px;
	text-decoration: underline;
}

.education li {
	margin-top: 10px;
}

#codeskills {
	width: 100%;
	
	display: flex;
}

#completion ul {
	list-style: none;
}
#completion ul li {
	color: #2587bc;
}

/*					Footer				*/

#github img {
	width: 50px;
}

footer {
	width: 100%;
}
footer p {
	opacity: .3;
	text-align: center;
}
#icons {
	text-align: center;
}


/*						Print							*/

@media print {
	html, #completion ul li {
		color: black;
	}
	#profile {
		display: none;
	}
	#objective {
		max-width: 100%;
	}
	#workExperience h2, #education h2, #skills h2 {
		font-size: 18px;
		margin: 5px 0 0 0;
	}
	#workExperience ul {
		margin-bottom: 5px;
	}
	hr {
		margin: 5px;
	}
	footer {
		display: none;
	}
	#innerJSBar, #innerHTMLBar, #innerCSSBar, #innerCLBar {
		background-color: black;
	}
}
@media only screen and (min-width: 650px) {
	#objective {
		max-width: 100%;
		display: flex;
		text-align: left;
	}
		
}