/* version 2 */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
	font-family: 'Montserrat', sans-serif;
	color: #363838;
	background-color: #FFF;
	background-image: linear-gradient(to bottom, #edeff2, #a2a5aa);
}
body {
	margin: 0 auto;
	padding: 0px;
}
#main {
	max-width: 900px;
	min-width: 250px;
	margin: 0 auto;
	padding: 20px;
}
hr{
	margin: 0;
}
 /*#363838*/

#objective, #skills, #workExperience, #education {
 	box-shadow: 0px 0px 5px 1px #2355a0 inset;
 	border-radius: 10px;
 	padding: 15px;
 	background-color: #FFF;
 	margin-top: 5px;
 	background: linear-gradient(to right, #ffffff, #e5e5e5);
 }
#objective, #skills, #workExperience, #education {
	transition: color 2s;
}
#objective:hover, #skills:hover, #workExperience:hover, #education:hover {
	color: #2355a0;
	background: linear-gradient(to left, #ffffff, #e5e5e5);
}

.flex-container {
	display: flex;
}

/*						Header 						*/
#header {
	z-index: 1;
	width: calc(100% - 20px);
	height: 120px;
	position: fixed;
	padding: 10px;
	margin: 0;
	background: linear-gradient(to right, #ffffff, #e5e5e5);
	/*box-shadow: 1px 0px 10px 1px #2355a0;*/
}
#header h1 {
	margin: 5px;
	letter-spacing: 2px;
}
#header p {
	text-align: right;
}

#header h1, #main h2 {
	color: #2355a0;
}
.spacer {
	height: 140px;
	margin: 0;
	padding: 0;
}

/*							Objective						*/

#objective {
	text-align: center;
}
#brief {
	opacity: .0;
	text-align: center;
	width: 90%;
	max-width: 500px;
	margin: 5px auto;
	font-style: italic;
}
#hello {

}
#profile {
	margin: 0 auto;
	opacity: .85;
}
 #profilePic {
 	width: 100px;
 	height: 100px;
 	border-radius: 30%;
 }


/*						Skills							*/
#skills h2 {
	margin: 15px 0 0 0;
}
#skills h4 {
	margin: 0px;
}
#skills p {
	text-align: right;
	margin: 0;
}
.skillBar {
	width: 100%;
	height: 20px;
	border: 1px solid #aeb2b2;
	margin: 0px;
	border-radius: 10px;
	background-color: rgba(255,255,255,10%);
	box-shadow: 0 0 2px 1px #aeb2b2 inset; 
}
.skillBar div:last-child {
	text-align: right;
}
.barSkill {
	/*#f4cb42*/
	height: 100%;
	background-color: #f4cb42;
	border-radius: 10px;
	box-shadow: 0 0 2px 1px #aeb2b2 inset;
	text-align: center;
}
.barSkill p {	
	height: 100%;
	text-align: center !important;
	color: #2355a0;
	margin: 0;
	font-size: 16px;
}
.hideSkillRating {
	display: none;
}
.showSkillRating {
	/*border: 1px solid #2355a0;*/
	
	font-size: 12px;
	/*border-radius: 10px;*/
	height: 16px;
	padding: 3px;
	/*background-color: rgba(255,255,255, .7);*/
	display: inline-block;
	position: relative;
	top: -21px;
}




/*						Work 							*/

#workExperience {
}
#workExperience h2 {
	margin: 15px 0 0 0;
}

.work, .education {
	padding: 5px;
}
.work p, .work h3 {
	margin: 0px;
}
#topOfWork {
	display: flex;
	justify-content: space-between;
}


/*						Education 						*/
h3:first-child {
	width: 70%;
}
#education h2 {
	margin: 15px 0 0 0;
}
.education h3 {
	margin: 0px;
	text-decoration: underline;
}

.education li {
	margin-top: 10px;
}

#codeskills {
	width: 100%;
	display: flex;
}

#completion ul {
	list-style: none;
}
#completion ul li {
	color: #2355a0;
	/*color: #2587bc;*/
}
#courses {
	width: 70%;
}

/*					Footer				*/

#github img {
	width: 50px;
}
#github img:hover {
	width: 60px;
}

footer {
	width: 100%;
}
footer p {
	opacity: .3;
	text-align: center;
}
#icons {
	text-align: center;
}


/*						Print							*/

@media print {
	html, #completion ul li {
		color: black;
		background-image: none;
	}
	body {
		padding: 0px;
	}
	#hello {
		display: none;
	}
	#profile {
		display: none;
	}
	#objective {
		max-width: 100%;
	}
	#workExperience h2, #education h2, #skills h2 {
		font-size: 18px;
		margin: 5px 0 0 0;
	}
	#workExperience ul {
		margin-bottom: 5px;
	}
	hr {
		margin: 5px;
	}
	footer {
		display: none;
	}
	.barSkill {
		background-color: black;
	}
	.barSkill p {
		color: #FFF;
		font-size: 8px;
	}
	.hideSkillRating {
		display: inline-block;
		position: relative;
		top: -16px;
	}
	
	#objective, #skills, #workExperience, #education {
	 	box-shadow: none;
	 	border-radius: 10px;
	 	padding: 3px;
	 	background-image: none;
 	}
 	.skillBar {
 		height: 10px;
 	}
	.skillBar, .barSkill {
		box-shadow: none;
	}

}
@media only screen and (min-width: 550px) {
	#objective {
		max-width: 100%;
		display: flex;
		align-items: center;
	}
	
	#message {
		margin: 0 auto;
		width: 70%;
	}	
	#profilePic {
		width: 150px;
		height: 150px;
	}
	#profile {
		width: 30%;
		border-radius: 50%;
		overflow: hidden;
	}
}
@media only screen and (min-width: 680px) {
	#header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#header h1 {
		letter-spacing: 2px;
		font-size: 44px;
	}
	#contactInfo {
		
	}



}
@media only screen and (max-width: 330px){
	h3 {
		font-size: 14px;
	}
	h4 {
		font-size: 12px;
	}
	li {
		font-size: 12px;
	}
	h2 {
		font-size: 18px;
		margin: 0;
	}
	p {
		font-size: 8px;
		margin: 0;
	}
	.barSkill p {
		font-size: 8px;
	}
	.skillBar {
		height: 10px;
	}
}

@media only screen and (orientation: landscape) {
	* {
		color: red;
	}
}

/* Circle loader????	*/
/*
.circle {
	width: 70px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 50%;
	background-color: blue;
}
.innerCircle {
	border: 1px solid black;
	border-radius: 50%;
	padding: 5px;
	background-color: #FFF ;
}
.innerCircle p {
	text-align: center;
}
*/



