/*	Version 2 */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	font-family: 'Montserrat', sans-serif;
	color: #363838;
}
body {
	margin: 0 auto;
	padding: 0px;
}
#main {
	max-width: 900px;
	min-width: 250px;
	margin: 0 auto;
	padding: 5px 20px;
	position: relative;
	top: 80px;
}
#main hr:first-child {
	display: none;
}
hr{
	margin: 10px;
}
a{
	text-decoration: none;
}

#objective, #skills, #workExperience, #education {
 	box-shadow: 0px 0px 5px 1px #2355a0 inset;
 	border-radius: 10px;
 	padding: 15px;
 	background-color: #FFF;
 	margin-top: 5px;
 	background: linear-gradient(to right, #ffffff, #e5e5e5);
 }
 
 #main > div {
 	transition: color 2s;
 }
 #main > div:hover {
 	color: #2355a0;
 	background: linear-gradient(to left, #ffffff, #e5e5e5);
 }

.flex-container {
	display: flex;
	align-items: center;
}
.flex-container-space-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
h2 {
	margin: 15px 0;
}
h3 {
	margin: 0px;
	text-decoration: underline;
}

/*						Header 						*/
#header {
	z-index: 1;
	width: calc(100% - 20px);
	height: 65px;
	position: fixed;
	padding: 10px;
	margin: 0;
}
#header h1 {
	margin: 0px;
	letter-spacing: 4px;
	font-size: 22px;
	margin-bottom: 5px;
}


#header h1, #main h2 {
	color: #2355a0;
}

#header h1 {
	text-align: center;
}

#contactInfo p {
	text-align: center;
	font-size: 14px;
	margin: 2px 0;
}
a {
	color: #2355a0;
}

/*							Hamburger						*/
/*#hamburger {
	width: 20px;
	margin: 0 auto;
	padding: 3px;
}
#hamburger:hover {
	cursor: pointer;
}
#hamburger div {
	width: 20px;
	height: 3px;
	background-color: #2355a0;
	margin: 3px 0;
}*/





/*							Objective						*/

#objective {
	text-align: center;
}
#brief {
	opacity: .0;
	text-align: center;
	width: 90%;
	max-width: 500px;
	margin: 5px auto;
	font-style: italic;
	font-size: 16px;
}
#profile {
	margin: 0 auto;
	opacity: .85;
}
 #profilePic {
 	width: 100px;
 	height: 100px;
 	border-radius: 30%;
 }


/*						Skills							*/
#skills h4 {
	margin: 0px;
}
#skills p {
	text-align: right;
	margin: 0;
}
.skillBar {
	width: 100%;
	height: 20px;
	border: 1px solid #aeb2b2;
	margin: 0px;
	border-radius: 10px;
	background-color: rgba(255,255,255,10%);
	box-shadow: 0 0 2px 1px #aeb2b2 inset; 
}
.skillBar div:last-child {
	text-align: right;
}
.barSkill {
	/*#f4cb42*/
	height: 100%;
	background-color: #f4cb42;
	border-radius: 10px;
	box-shadow: 0 0 2px 1px #aeb2b2 inset;
	text-align: center;
}
.barSkill p {	
	height: 100%;
	text-align: center !important;
	color: #2355a0;
	margin: 0;
	font-size: 16px;
}
.hideSkillRating {
	display: none;
}
.showSkillRating {
	/*border: 1px solid #2355a0;*/
	
	font-size: 12px;
	/*border-radius: 10px;*/
	height: 16px;
	padding: 3px;
	/*background-color: rgba(255,255,255, .7);*/
	display: inline-block;
	position: relative;
	top: -21px;
}


/*						Education 						*/
#education h3:first-child, #education p:first-child {
	width: 70%;
}
#education p {
	margin: 4px;
	margin-left: 10px;
}

/*						Work 							*/
#workExperience p, #workExperience h3, #workExperience h4 {
	margin: 0;
}


/*					Footer				*/
#icons {
	text-align: center;
}

#github{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 50px;
}
#icons a:hover {
	cursor: pointer;
}


footer {
	width: 100%;
}
footer p {
	opacity: ;
	text-align: center;
}


/*						Print							*/

@media print {
	html {
		color: black !important;
		background-image: none;
		background-color: #FFF;
	}
	body {
		padding: 0px;
		background-color: #FFF;
	}
	#main {
		top: 0;
	}
	#main hr:first-child {
		display: block;
	}
	#hello {
		display: none;
	}
	#profile {
		display: none;
	}
	#objective {
		max-width: 100%;
	}
	#main h2 {
		font-size: 18px;
		margin: 5px 0 0 0;
	}
	#main > div:hover {
		color: black;
		background: none;
	}
	#header {
		background: #FFF !important; 
		box-shadow: none !important;
		position: static;
	}
	
	#workExperience ul {
		margin-bottom: 5px;
	}
	hr {
		margin: 5px;
	}
	footer {
		display: none;
	}
	.barSkill {
		background-color: black;
	}
	.barSkill p {
		color: #FFF;
		font-size: 8px;
	}
	
	#main > div {
	 	box-shadow: none;
	 	border-radius: 10px;
	 	padding: 3px;
	 	background-image: none;
	 	background-color: #FFF: 
 	}
 	.skillBar {
 		height: 10px;
 	}
	.skillBar, .barSkill {
		box-shadow: none;
	}
}
@media only screen and (min-width: 550px) {
	#objective {
		max-width: 100%;
		display: flex;
		align-items: center;
	}
	#message {
		margin: 0 auto;
		width: 70%;
	}	
	#profilePic {
		width: 150px;
		height: 150px;
	}
	#profile {
		width: 30%;
		border-radius: 50%;
		overflow: hidden;
	}

}
@media only screen and (min-width: 490px) {
	#header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#contactInfo p {
		text-align: right;
	}
}
@media only screen and (min-width: 550px){
	#header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#header h1 {
		font-size: 24px;
	}
}
@media only screen and (min-width: 680px) {
	/*#header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}*/
	#header h1 {
		/*letter-spacing: 2px;*/
		font-size: 32px;
	}

}
@media only screen and (max-width: 400px){
	h3 {
		font-size: 14px;
	}
	h4 {
		font-size: 12px;
	}
	li {
		font-size: 12px;
	}
	h2 {
		font-size: 18px;
		margin: 0;
	}
	p {
		font-size: 8px;
	}
	#brief {
		font-size: 12px;
		margin: 0 auto;
	}
	.barSkill p {
		font-size: 8px;
	}
	.skillBar {
		height: 10px;
	}
}